<nav class="bg-[#1E293B] text-[#F1F5F9] p-4 flex justify-between items-center fixed top-0 w-full shadow-lg z-50 border-b-2 border-[#38BDF8]">
  <!-- Menú Principal -->
  <div class="ml-10 flex space-x-4">
    <button class="hover:bg-[#38BDF8] hover:text-[#1E293B] transition-colors duration-300 px-4 py-2 rounded-lg">Inicio</button>

    <!-- Prácticas -->
    <div class="relative group">
      <button class="hover:bg-[#38BDF8] hover:text-[#1E293B] transition-colors duration-300 px-4 py-2 rounded-lg">Prácticas ▼</button>
      <div class="absolute hidden group-hover:block bg-[#0F172A] text-[#F1F5F9] shadow-lg mt-2 rounded border border-[#38BDF8]">
        <a class="block px-4 py-2 hover:bg-[#38BDF8] hover:text-[#1E293B] transition-colors duration-300" routerLink="/practica1">Práctica 1</a>
        <a class="block px-4 py-2 hover:bg-[#38BDF8] hover:text-[#1E293B] transition-colors duration-300" routerLink="/practica2">Práctica 2</a>
        <a class="block px-4 py-2 hover:bg-[#38BDF8] hover:text-[#1E293B] transition-colors duration-300" routerLink="/practica3">Práctica 3</a>
        <a class="block px-4 py-2 hover:bg-[#38BDF8] hover:text-[#1E293B] transition-colors duration-300" routerLink="/practica4">Práctica 4</a>
        <a class="block px-4 py-2 hover:bg-[#38BDF8] hover:text-[#1E293B] transition-colors duration-300" routerLink="/practica5">Práctica 5</a>
        <a class="block px-4 py-2 hover:bg-[#38BDF8] hover:text-[#1E293B] transition-colors duration-300" routerLink="/practica6">Práctica 6</a>
        <a class="block px-4 py-2 hover:bg-[#38BDF8] hover:text-[#1E293B] transition-colors duration-300" routerLink="/practica7">Práctica 7</a>
        <a class="block px-4 py-2 hover:bg-[#38BDF8] hover:text-[#1E293B] transition-colors duration-300" routerLink="/practica8">Práctica 8</a>
        <a class="block px-4 py-2 hover:bg-[#38BDF8] hover:text-[#1E293B] transition-colors duration-300" routerLink="/practica9">Práctica 9</a>
        <a class="block px-4 py-2 hover:bg-[#38BDF8] hover:text-[#1E293B] transition-colors duration-300" routerLink="/practica10">Práctica 10</a>

      </div>
    </div>

    <!-- Examen Práctico -->
    <button class="hover:bg-[#38BDF8] hover:text-[#1E293B] transition-colors duration-300 px-4 py-2 rounded-lg">Examen Práctico</button>
  </div>

  <!-- Icono Usuario -->
  <div class="relative group">
    <button class="flex items-center space-x-2 hover:bg-[#38BDF8] hover:text-[#1E293B] transition-colors duration-300 px-4 py-2 rounded-lg">
    </button>
    <div class="absolute hidden group-hover:block bg-[#0F172A] text-[#F1F5F9] shadow-lg right-0 mt-2 rounded border border-[#38BDF8]">
      <a class="block px-4 py-2 hover:bg-[#38BDF8] hover:text-[#1E293B] transition-colors duration-300">Perfil</a>
      <a class="block px-4 py-2 hover:bg-[#38BDF8] hover:text-[#1E293B] transition-colors duration-300">Cerrar sesión</a>
    </div>
  </div>
</nav>

