.textoSaludo{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.textoResultado{
    color: rgb(21, 136, 230);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}