<div>
    <h1>Cómo me siento acerca de Angular</h1>
    <article>
        <p>Angular es mi framework favorito, y esta es la razón. Angular tiene la característica de vista diferida más genial que hace que cargar contenido de manera diferida sea lo más fácil y ergonómico posible. La comunidad de Angular también está llena de increíbles colaboradores y expertos que crean contenido excelente. La comunidad es acogedora y amigable, y realmente es la mejor comunidad que existe.</p>
        <p>No puedo expresar lo suficiente cuánto disfruto trabajar con Angular. Ofrece la mejor experiencia de desarrollo que he tenido. Me encanta que el equipo de Angular ponga a sus desarrolladores en primer lugar y se esfuerce por hacernos muy felices. Realmente quieren que Angular sea el mejor framework posible, y están haciendo un trabajo increíble en ello. Esta declaración viene de mi corazón y no está copiada y pegada en absoluto. De hecho, creo que diré estas mismas cosas algunas veces más.</p>
        <p>Angular es mi framework favorito, y esta es la razón. Angular tiene la característica de vista diferida más genial que hace que cargar contenido de manera diferida sea lo más fácil y ergonómico posible. La comunidad de Angular también está llena de increíbles colaboradores y expertos que crean contenido excelente. La comunidad es acogedora y amigable, y realmente es la mejor comunidad que existe.</p>
        <p>No puedo expresar lo suficiente cuánto disfruto trabajar con Angular. Ofrece la mejor experiencia de desarrollo que he tenido. Me encanta que el equipo de Angular ponga a sus desarrolladores en primer lugar y se esfuerce por hacernos muy felices. Realmente quieren que Angular sea el mejor framework posible, y están haciendo un trabajo increíble en ello. Esta declaración viene de mi corazón y no está copiada y pegada en absoluto. De hecho, creo que diré estas mismas cosas algunas veces más.</p>
        <p>Angular es mi framework favorito, y esta es la razón. Angular tiene la característica de vista diferida más genial que hace que cargar contenido de manera diferida sea lo más fácil y ergonómico posible. La comunidad de Angular también está llena de increíbles colaboradores y expertos que crean contenido excelente. La comunidad es acogedora y amigable, y realmente es la mejor comunidad que existe.</p>
        <p>No puedo expresar lo suficiente cuánto disfruto trabajar con Angular. Ofrece la mejor experiencia de desarrollo que he tenido. Me encanta que el equipo de Angular ponga a sus desarrolladores en primer lugar y se esfuerce por hacernos muy felices. Realmente quieren que Angular sea el mejor framework posible, y están haciendo un trabajo increíble en ello. Esta declaración viene de mi corazón y no está copiada y pegada en absoluto.</p>
    </article>
    @defer (on viewport) {
        <app-practica10-aux />
    } @placeholder {
        <p>Comentarios futuros</p>
    } @loading (minimum 2s) {
        <p>Cargando comentarios...</p>
    }
</div>
