<div class="bg-[#1E293B] text-[#F1F5F9] h-screen w-full p-4 modern-font">
  <h2 class="text-lg font-semibold mb-4">Menú</h2>
  <ul class="space-y-4">
    <li>
      <a class="block bg-[#0F172A] text-[#38BDF8] px-4 py-2 rounded shadow-md border border-[#38BDF8] transition-all duration-300 hover:bg-[#38BDF8] hover:text-[#1E293B]" routerLink="/page1">
        Página 1
      </a>
    </li>
    <li>
      <a class="block bg-[#0F172A] text-[#38BDF8] px-4 py-2 rounded shadow-md border border-[#38BDF8] transition-all duration-300 hover:bg-[#38BDF8] hover:text-[#1E293B]" routerLink="/page2">
        Página 2
      </a>
    </li>
    <li>
      <a class="block bg-[#0F172A] text-[#ffffff] px-4 py-2 rounded shadow-md border border-[#38BDF8] transition-all duration-300 hover:bg-[#38BDF8] hover:text-[#1E293B]" routerLink="/page3">
        Página 3
      </a>
    </li>
  </ul>
</div>