<div class="bg-[#2C3E50] text-[#ECF0F1] h-screen w-full p-4 modern-font">
  <h2 class="text-lg font-semibold mb-4">Menú</h2>
  <ul class="space-y-4">
    <li>
      <a class="block bg-[#34495E] text-[#3498DB] px-4 py-2 rounded shadow-md transition-all duration-300 hover:bg-[#3498DB] hover:text-[#ECF0F1]" routerLink="/page1">
        Página 1
      </a>
    </li>
    <li>
      <a class="block bg-[#34495E] text-[#3498DB] px-4 py-2 rounded shadow-md transition-all duration-300 hover:bg-[#3498DB] hover:text-[#ECF0F1]" routerLink="/page2">
        Página 2
      </a>
    </li>
    <li>
      <a class="block bg-[#34495E] text-[#ECF0F1] px-4 py-2 rounded shadow-md transition-all duration-300 hover:bg-[#3498DB] hover:text-[#ECF0F1]" routerLink="/page3">
        Página 3
      </a>
    </li>
  </ul>
</div>