<footer class="bg-[#1E293B] text-[#F1F5F9] py-6 mt-4 modern-font">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between px-4">
    <!-- Sección de Derechos Reservados -->
    <p class="text-sm mb-2 md:mb-0">&copy; 2025 - Manual Ejercicios Angular</p>
    <!-- Sección de Enlaces -->
    <div class="flex space-x-4">
      <a href="#" class="bg-[#ffffff] text-[#1E293B] px-3 py-2 rounded shadow-md border border-[#38BDF8] transition-all duration-300 hover:bg-[#60A5FA] hover:text-[#1E293B]">
        Términos y condiciones
      </a>
      <a href="#" class="bg-[#ffffff] text-[#1E293B] px-3 py-2 rounded shadow-md border border-[#38BDF8] transition-all duration-300 hover:bg-[#60A5FA] hover:text-[#1E293B]">
        Soporte
      </a>
    </div>
  </div>
</footer>