<footer class="bg-[#2C3E50] text-[#ECF0F1] py-6 mt-4 modern-font">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between px-4">
    <!-- Sección de Derechos Reservados -->
    <p class="text-sm mb-2 md:mb-0">&copy; Jose Francisco Flores Amador 2025 - Manual Ejercicios Angular</p>
    <!-- Sección de Enlaces -->
    <div class="flex space-x-4">
      <!-- Puedes agregar enlaces aquí -->
      <a href="#" class="text-[#3498DB] hover:text-[#ECF0F1] transition-colors duration-300">Enlace 1</a>
      <a href="#" class="text-[#3498DB] hover:text-[#ECF0F1] transition-colors duration-300">Enlace 2</a>
    </div>
  </div>
</footer>